<section class="about" id="about">
  <div class="container">
    <h2 class="about__title">About Us</h2>
    <div class="about__container">
      <img
        class="about__image"
        srcset="
          ./images/about/about-desk.jpg     522w,
          ./images/about/about-desk@2x.jpg 1044w
        "
        sizes="(min-width: 768px) 522px, 100vw"
        src="./images/about/about-desk.jpg"
        alt="girl doing yoga"
      />
      <div class="about__card">
        <ul class="about__list">
          <li class="about__item">
            <svg class="about__icons" width="22" height="22">
              <use href="./images/icons.svg#about"></use>
            </svg>
            <p class="about__text">Modern yoga studio located in the center.</p>
          </li>
          <li class="about__item">
            <svg class="about__icons" width="22" height="22">
              <use href="./images/icons.svg#about"></use>
            </svg>
            <p class="about__text">
              Ancient yoga practices adapted at the highest level to the needs
              of modern life.
            </p>
          </li>
          <li class="about__item">
            <svg class="about__icons" width="22" height="22">
              <use href="./images/icons.svg#about"></use>
            </svg>
            <p class="about__text">
              More than 30 classes per week, of varying difficulty levels, in
              three unique directions: Hot Yoga, Fly Yoga, HaTha Yoga, and
              manifested in many styles.
            </p>
          </li>
          <li class="about__item">
            <svg class="about__icons" width="22" height="22">
              <use href="./images/icons.svg#about"></use>
            </svg>
            <p class="about__text">Warm atmosphere for people.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
