<section class="about" id="about">
  <div class="container">
    <h2 class="about__titl">About Us</h2>
    <ul class="about__list">
      <li class="about__item">
        <svg class="about__icons" width="22" height="22">
          <use></use>
        </svg>
        Modern yoga studio located in the center
      </li>
      <li class="about__item">
        <svg class="about__icons" width="22" height="22">
          <use></use>
        </svg>
        Ancient yoga practices adapted at the highest level to the needs of modern life.
      </li>
      <li class="about__item">
        <svg class="about__icons" width="22" height="22">
          <use></use>
        </svg>
        More than 30 classes per week, of varying difficulty levels, in three unique directions: Hot Yoga, Fly Yoga, HaTha Yoga,
        and manifested in many styles.
      </li>
      <li class="about__item">
        <svg class="about__icons" width="22" height="22">
          <use></use>
        </svg>
        Warm atmosphere for people
      </li>
    </ul>
    <img
    class="about__image"
      srcset="
        ./images/about/about-desk.jpg     522w,
        ./images/about/about-desk@2x.jpg 1044w
      "
      sizes="(min-width: 768px) 522px, 100vw"
      src="./images/about/about-desk.jpg"
      alt="girl doing yoga"
    />
  </div>
</section>
