<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="advantages__title">Our advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <img srcset="./images/icons/atmosphere.png 1x, ./images/icons/atmosphere@2x.png 2x" src="./images/icons/atmosphere.png" alt="atmosphere" /> atmosphere
      </li>
      <li class="advantages__item">
        <img srcset="./images/icons/location.png 1x, ./images/icons/location@2x.png 2x" src="./images/icons/location.png" alt="location" /> location
      </li>
      <li class="advantages__item">
        <img srcset="./images/icons/comfort.png 1x, ./images/icons/comfort@2x.png 2x" src="./images/icons/comfort.png" alt="comfort" /> comfort
      </li>
      <li class="advantages__item">
        <img srcset="./images/icons/manufacturability.png 1x, ./images/icons/manufacturability@2x.png 2x" src="./images/icons/manufacturability.png" alt="manufacturability" /> manufacturability
      </li>
      <li class="advantages__item">
        <img srcset="./images/icons/knowledge.png 1x, ./images/icons/knowledge@2x.png 2x" src="./images/icons/knowledge.png" alt="knowledge" /> knowledge
      </li>
    </ul>
  </div>
</section>
