<section class="sign-up" id="form">
  <div class="container">
    <h2 class="form__title">Sign up for the lessons</h2>
    <form class="form">
      <ul class="form__list">
        <li class="form__item">
          <label class="form__label"
            ><img
              class="form__icons"
              srcet=".images/icons/name-mob.png 34w, ./images/icons/name-desk.png 47w, ./images/icons/name-mob@2x.png 68w, ./images/icons/name-desk@2x.png 94w"
              sizes="(min-width:768px) 47px, (max-width:767px) 34px, 100vw"
              src="./images/icons/name-mob.png"
              alt="person icon" />
            <input
              class="form__input"
              type="text"
              name="name"
              placeholder="Your name"
          /></label>
        </li>
        <li class="form__item">
          <label class="form__label"
            ><img
              class="form__icons"
              srcet=".images/icons/phone-mob.png 34w, ./images/icons/phone-desk.png 47w, ./images/icons/phone-mob@2x.png 68w, ./images/icons/phone-desk@2x.png 94w"
              sizes="(min-width:768px) 47px, (max-width:767px) 34px, 100vw"
              src="./images/icons/phone-mob.png"
              alt="Telephone" />
            <input
              class="form__input"
              type="tel"
              name="telephone number"
              placeholder="Telephone"
          /></label>
        </li>
        <li class="form__item">
          <label class="form__label">
            <img
              class="form__icons"
              srcet=".images/icons/mail-mob.png 34w, ./images/icons/mail-desk.png 47w, ./images/icons/mail-mob@2x.png 68w, ./images/icons/mail-desk@2x.png 94w"
              sizes="(min-width:768px) 47px, (max-width:767px) 34px, 100vw"
              src="./images/icons/mail-mob.png"
              alt="email"
            />
            <input
              class="form__input"
              type="email"
              name="email"
              placeholder="Mail"
            />
          </label>
        </li>
      </ul>
    </form>
  </div>
</section>
