<section class="sign-up" id="form">
  <div class="container">
    <h2 class="form__title">Sign up for the lessons</h2>
    <form class="form">
      <ul class="form__list">
        <li class="form__item">
          <label class="form__label"
            >Your name
            <input class="form__input" type="text"
          /></label>
        </li>
        <li class="form__item">
          <label class="form__label"
            >Telephone
            <input class="form__input" type="text"
          /></label>
        </li>
        <li class="form__item">
          <label class="form__label"
            >Mail
            <input class="form__input" type="text"
          /></label>
        </li>
      </ul>
    </form>
  </div>
</section>
