<div class="container" id="header">
  <nav>
    <ul class="nav__list">
      <li class="nav__item"><a class="nav__link" href="#about">About us</a></li>
      <li class="nav__item"><a class="nav__link" href="#advantages">Our advantages</a></li>
      <li class="nav__item">
        <a class="nav__link logo" href="#hero">
          <img srcset="
              ./images/logo-mob.png      64w,
              ./images/logo-mob@2x.png  128w,
              ./images/logo-desk.png    142w,
              ./images/logo-desk@2x.png 284w
            " sizes="(min-width:1200px) 142px, (max-width:767px) 64px, 100vw" src="./images/logo-mob.png" alt="logo" />
        </a>
      </li>
      <li class="nav__item"><a class="nav__link" href="#timetable">Timetable</a></li>
      <li class="nav__item"><a class="nav__link" href="#form">Sign up for the lessons</a></li>
    </ul>
  </nav>
</div>
