<section class="hero" id="hero">
    <div class="container">
        <div class="hero__container">
            <h1 class="hero__title">
                Yoga to reconnect to your body, mind and heart
            </h1>
            <p class="hero__text hero__text--up">Still the mind, feel your body and live from the heart.
            </p>
            <p class="hero__text">Find Delight within yourself and the world around you.</p>
        </div>
        <div class="hero__button">
            <a class="hero__link" href="#form">Sign up for the lessons</a>
        </div>
    
    </div>
</section>