<section class="timetable" id="timetable">
  <div class="container">
    <h2 class="timetable__title">Timetable</h2>
    <div class="image__container">
      <img class="timetable__img" srcset="
            ./images/timetable/timetable-tabl.png 635w,
              ./images/timetable/timetable-mob.png      763w,
              ./images/timetable/timetable-tabl@2x.png 1270w,
              ./images/timetable/timetable-desk.png    1275w,
              ./images/timetable/timetable-mob@2x.png  1526w,
              ./images/timetable/timetable-desk@2x.png 2550w
            " sizes="(min-width:1280px) 1275px, (min-width:768px) 635px, (max-width: 767px) 763px, 100vw"
        src="./images/timetable/timetable-mob.png" alt="timetable" />
    </div>
  </div>
</section>
