<section class="timetable" id="timetable">
  <div class="container">
    <h2 class="timetable__title">
      Timetable
    </h2>
    <img
      srcset="./images/timetable/timetable-mob.png 763w, ./images/timetable/timetable-desk.png 1275w, ./images/timetable/timetable-mob@2x.png 1526w, ./images/timetable/timetable-desk@2x.png 2550w"
      sizes="(min-width:1280px) 1275px, (max-width: 767px) 763px, 100vw"
      src="./images/timetable/timetable-mob.png"
      alt="timetable"
    />
  </div>
</section>
